@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    font-family: "Azeret Mono", monospace;
}

/*  hero-section-style-start-here  */

.hero-section{
  max-width:1296px;
  margin:0 auto;
  background-image: url("../assets/Hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding:26px 199px 44px;
  /* height: 652px; */
 
}

.hero-content-wrap{
    text-align: center;
}

.hero-content-wrap h2{
    color: rgb(13, 19, 33);
    font-size: 45px;
    font-weight: 800;
    line-height: 64px;
    margin-bottom: 24px;
     
}

.hero-content-wrap p{
    color: rgb(13, 19, 33);
   font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom:32px;

}

.hero-content-wrap button{
    padding: 21px 24px 21px 24px;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    border:none;
background: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
line-height: 23px;
margin: 0px 10px;
}

/* hero-section-style-ended-here  */


/* why-web-dev-section-style-start-here */

.why-web-dev-sec{
    max-width:1296px;
    margin:0 auto;
    padding: 74px 133px 88px;
}

.web-container{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
   max-width:1026px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 80px 97px 80px 97px;
 }


 .web-dev-upper-content{
     text-align: center;
     margin-bottom: 48px;
 }

 .web-dev-upper-content h3{
color: rgb(13, 19, 33);
font-size: 32px;
font-weight:800;
line-height: 37px;
margin-bottom: 24px;
} 

.web-dev-upper-content p
{   opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}


 .web-dev-cart1-wrap{
        display: flex;
        justify-content:space-between;
        align-items:center;
        gap:70px;
        border-radius: 16px;
        padding:48px;
        background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
        
 }
 .web-dev-cart2-wrap{
   display: flex;
   justify-content: space-between;
   flex-direction: row-reverse;
   align-items: center;
   gap:70px;
   padding:48px;
   border-radius: 16px;
   background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
 }
 .web-dev-cart3-wrap{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:70px;
    border-radius: 16px;
    padding:48px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%)
 }



.cart1-inner-text h3{
    color: rgba(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    margin-bottom: 16px;
}

.cart1-inner-text p{
    color: rgb(13, 19, 33, 0.7);
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom:32px;
}

.cart1-inner-text  button
{
    padding: 12px 20px 12px 20px;
    border: 1px solid rgb(13, 19, 33);
}
.cart1-inner-text  button a{
    opacity: 0.7;
    color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
line-height: 23px;
text-align: center;
text-decoration: none;
}

/* why-web-dev-section-style-ended-here */


 /* my-inspiration-section-style-started-here */

.my-ins-sec{
    max-width:1296px;
    margin:0 auto;
    padding: 8px 133px 88px;
    display: flex;
    flex-direction: column;
    align-items:stretch;
    justify-content: center;

}
/* .ins-container{
  
} */

.ins-text-wrap{
    text-align: center;
    padding: 0px 110px;
}

.ins-text-wrap h2{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom:24px;
}

.ins-text-wrap p {
    color: rgb(13, 19, 33, 0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom:48px;

}


.ins-image-wrap{
    margin:auto;
    width:100%;
    height: 524px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
    
}

.ins-image-wrap iframe{
    width:100%;
    height:100%;
    border-radius: 16px;
 }

  /* my-inspiration-section-style-ended-here */




  /* target-section-style-started-here */

  .target-sec{
    max-width:1296px;
    margin:auto;
    padding:8px 133px 88px; 
    display: flex;
    flex-direction: column;
    align-items:stretch;
    justify-content: center;
    gap:48px;

  }


  .tar-text-wrap{
     text-align:center;
     padding: 0px 110px;
     margin-top:62px;
  }

  .tar-text-wrap h2{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 24px;

  }

  .tar-text-wrap p{
    color: rgb(13, 19, 33, 0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
  }


.tar-card-wrap{
    width: 100%;
    margin: 0 auto;
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap:24px;
 
}

.tar-card-wrap img{
    margin-bottom: 24px;
  }
.tar-card-wrap h2{
      color: rgb(13, 19, 33);
      font-size: 24px;
      font-weight: 800;
      line-height: 36px;
      text-align: left;
      margin-bottom: 8px;
  }
  
  .tar-card-wrap p{
  text-align: left;  
  color: rgb(13, 19, 33 , 0.7);
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px
  }
  
.tar-card-wrap a{
      color: rgb(13, 19, 33);
      font-weight: 700;
      font-size: 16px;
  }
.tar-card1{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
}
.tar-card2{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 40px;
}

.tar-card3{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 40px;
}

  /* target-section-style-ended-here */


  


